In [3]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\hamdard pc\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\hamdard pc\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [5]:
import pyspark
from pyspark.sql import SparkSession

In [6]:
#for using pyspark, create sparksession, we name it Practice
spark = SparkSession.builder.appName('Practice').getOrCreate()

DataFrame[_c0: string, _c1: string]

In [14]:
#reading csv in the following ways
df_spark = spark.read.csv('test1.csv')
df_spark.show()

In [32]:
#remove headers 1, inferSchema converts content data type accordingly if not true everything will be string
df = spark.read.option('header',"true").csv('test1.csv',inferSchema=True)
df.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|  ALI| 25|        10|
|JACOB| 56|         5|
| JOHN| 12|         8|
+-----+---+----------+

In [41]:
#remove headers 2
df = spark.read.csv('test1.csv',header=True, inferSchema=True)
df.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|  ALI| 25|        10|
|JACOB| 56|         5|
| JOHN| 12|         8|
+-----+---+----------+

In [20]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [23]:
#gettin columns
df.columns
df.head(2)

[Row(Name='ALI', Age=25), Row(Name='JACOB', Age=56)]

In [25]:
#select one or more columns
df.select('Name')
#two
df.select(['Name','Age'])

DataFrame[Name: string, Age: int]

In [26]:
df.select(['Name','Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|  ALI| 25|
|JACOB| 56|
| JOHN| 12|
+-----+---+

In [30]:
df.dtypes
df.describe().show()

+-------+----+-----------------+
|summary|Name|              Age|
+-------+----+-----------------+
|  count|   3|                3|
|   mean|null|             31.0|
| stddev|null|22.60530911091463|
|    min| ALI|               12|
|    max|JOHN|               56|
+-------+----+-----------------+

In [42]:
#adding columns
df = df.withColumn('Experience After 2 year',df['Experience']+2)

In [44]:
#drop the columns
df = df.drop('Experience After 2 year')

In [45]:
df.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|  ALI| 25|        10|
|JACOB| 56|         5|
| JOHN| 12|         8|
+-----+---+----------+

In [48]:
#rename the columns
df.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|     ALI| 25|        10|
|   JACOB| 56|         5|
|    JOHN| 12|         8|
+--------+---+----------+